/******* common styles ******/
body {
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  cursor: default;
  text-transform: uppercase;
  font-size: 14px;
  overflow-y: hidden;
}

.scrolling {
  overflow-y: auto;
}

.reset {
  padding: 0;
  margin: 0;
}

.beauty {
  background-color: #e9e9e9;
  box-shadow: 3px 2px 4px rgba(221, 221, 221, 1);
}

.hidden {
  display: none;
}

h5 {
  color: #6a6967;
  margin: 16px 0 16px 30px;
  font-size: 18px;
}



/******* side menu styles ******/
.class-menu {
  z-index: 6;
}

.menu {
  padding: 0;
}

.menu :hover {
  background-color: #dddddd;
}

.active {
  background-color: #c6c8ca;
}

.menu a {
  text-decoration: none;
  color: #3b3b3b;
  display: block;
  padding: 18px 30px;
}

.menu li {
  list-style-type: none;
}
/******* side menu styles END ******/

/******* right row styles ******/
/******* row DATA styles ******/
.row-data {
  margin: 10px;
  height: calc(100% - 75px);
}
.all-displays {
  height: 100vh;
}
/******* row DATA styles END******/

/******* top bar styles ******/
.find-bar {
  height: 53px;
  position: fixed;
  z-index: 5;
}

.under-find-bar {
  margin-top: 53px;
}

/*.find-bar button, form, form input, a i */
/* this is a hardcode {*/

button[type=submit] {
outline: none;
}
.find-bar-element {
  margin-left: 14px;
  background-color: #e9e9e9;
  outline: none;
  text-decoration: none;
  color: #767676;
  border: none;
  display: inline;
}
/**** end if hardcode *****/
.find-bar__navicon {
  font-size: 30px;
  display: none;
  position: relative;
  top: 5px;
  color: #767676;
  outline: none;
}
.find-bar__navicon:hover {
  color: #767676;

}.find-bar__navicon:visited {
  color: #767676;
}

.find-bar__string {
  width: calc(90% - 180px);
  margin: 13px 0 13px 10px;
  font-size: 17px;
  letter-spacing: 1px;
  text-overflow: ellipsis
}

.icon {
  font-size: 22px;
  margin-left: 10px;
  display: inline;
}

.icon:hover {
  transition: 0.1s;
  font-size: 23px;
  margin-right: -1px;
  text-shadow: 1px 1px 2px rgba(203, 203, 203, 1);
}

.icon:active {
  font-size: 22px;
  margin-right: 0;
  text-shadow: none;
}
/******* styles of bar icons END ******/
/******* top bar styles END ******/

/******* buttons NEW, EDIT, SAVE ******/
.button-new i {
  background: none;
  position: fixed;
  bottom: 51px;
  right: 20px;
  font-size: 50px;
  color: #6e6e6e;
  text-shadow: 3px 5px 2px rgba(203, 203, 203, 1);
}

.button-new i:hover {
  transition: 0.1s;
  font-size: 54px;
  color: #6e6e9e;
}

.button-new i:active {
  transition: 0.1s;
  font-size: 50px;
  text-shadow: none;
}
/******* buttons NEW, EDIT, SAVE END ******/

/******* modal window NOTIFICATION *******/
.notification-bar {
  box-shadow: 2px 4px 10px 1px #dbdbdb;
  position: absolute;
  right: 5%;
  z-index: 1000;
  background-color: #fff;
  text-transform: none;
  max-height: 84vh;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}

.notifications {
  text-decoration: none;
}

.notification-candidate-wrapper, .notification-interview-wrapper {
  padding: 10px 40px 0 30px;
  color: #000;
  position: relative;
}

.notification-candidates-field, .notification-events-field {
  overflow-x: hidden;
}

.delete-notification {
  position: absolute;
  top: 7px;
  right: 15px;
}

.delete-notification:hover {
  color: #d81e0a;
}

.notification-interview-wrapper {
  padding-top: 0;
  padding-bottom: 3px;
}

.notification-candidate-wrapper:hover,
.notification-bar-view-all:hover,
.notification-interview-wrapper:hover {
  background-color: #e9e9e9;
  transition: .1s ease-in-out;
  text-decoration: none;
  color: #000;
}

.notification-bar-header, .notification-bar-view-all {
  font-size: 20px;
  padding: 20px 30px 5px 38px;
  color: #a1a1a1;
}

.notification-bar-view-all {
  padding-bottom: 20px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin: 0;
  cursor: pointer;
}

.candidate-avatar {
  height: 70px;
  border-radius: 50%;
}

.candidate-avatar:hover {
  box-shadow: 1px 2px 6px 1px #0f233e;
  transition: .1s ease-in-out;
}

.avatar-small {
  width: 59px;
  height: 55px;
  border-radius: 50%;
  margin: 0 20px 0 10px;
}

.notification-candidate-name,
.notification-candidate-email,
.notification-candidate-position,
.notification-interview-type,
.notification-interview-time {
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.notification-candidate-name {
  margin-bottom: 0;
}

.notification-candidate-position {
  margin-bottom: 10px;
  color: #a1a1a1;
}

.notification-interview-information-wrapper {
  padding-left: 13px;
}

.notification-interview-type {
  padding-top: 9px;
}

.notification-interview-time {
  color: #c4c4c4;
}

#dialog {
  display: inline-block;
}

#dialog .others, .save {
  float: right;
  margin: 0 10px;
}

#dialog .label-event {
  text-transform: none;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 20px;
  background-color: #007bff;
  border-color: #007bff;
  margin-left: 40px;
}

.ui-dialog-titlebar {
  background: #fff;
  border: none;
  padding: 0;
}

.middle-event {
  width: 100%;
}

#dialog input {
  float: right;
  width: 31.5%;
  text-align: center;
}

#dialog .top-event input:first-child {
  border: none;
  font-size: 30px;
  width: 93%;
}

.form-group span {
  padding-top: 15px;
}

#dialog button {
  float: right;
}

#dialog .add-time {
  border: none;
  border-radius: 0;
}

#dialog .time button {
  background: #fff;
}

#dialog #candidates-range span {
}

#dialog #time {
}

#dialog #candidates-range {
  float: right;
  width: 93%;
  border: none;
  background-color: #e9e9e9;
  margin: 10px 0;
}

#format-time {
  padding: 15px 0;
}

#dialog #content-event {
  margin-bottom: 4px;
}

#notification-button:hover {
  text-decoration: none;

}
/******* common styles END ******/