body {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    cursor: default;
    text-transform: uppercase;
    font-size: 2vh;

    overflow: hidden;

}

.reset {
    padding: 0;
    margin: 0;
}

.heading {
    box-shadow: 0.3vw 0 0.5vw rgba(221, 221, 221, 1);
}

h5 {
    color: #6a6967;
    padding: 3vh 2.4vw;
    font-size: 2.4vh;
    background-color: #e9e9e9;
}

.beauty {
    background-color: #e9e9e9;
    box-shadow: 5px 0 5px rgba(221, 221, 221, 1);
}

.find-bar {
    padding: 2.5vh 0.5vw;
    font-size: 2.7vh;
}

.find-bar form {
    display: inline;
}

.find-bar form button, input {
    outline: none;
}

.find-bar__button {
    background: #e9e9e9;
    border: none;
    outline: none;
    font-size: 2.72vh;
    color: #767676;
}

.find-bar__string {
    width: 80%;
    background: #e9e9e9;
    border:none;
    letter-spacing: 1px;
}

.icon {
    font-size: 3vh;
    margin: 0 1vw;
    color: #767676;
}

.icon:active {
    transition: 0.1s;
    font-size: 2.4vh;
    margin-right: 1.15vw;
}

.row-data {
    height: 90vh;

}

.menu {
    padding: 0;
    margin: 0;
    /*display: block;*/
    background: #e9e9e9;
    box-sizing: border-box;
}

.menu :hover {
    background: #dddddd;
}

.active {
    background: #c6c8ca;
}

.menu li {
    list-style-type: none;

}

.menu a {
    text-decoration: none;
    color: #3b3b3b;
    display: block;
    padding: 3vh 2.4vw;
}

/*it's a button ADD*/
.new  {
    position: fixed;
    bottom: 4vh;
    right: 6vh;
    font-size: 8vh;
    color: #6e6e6e;
    text-shadow: 7px  10px 17px rgba(203, 203, 203, 1);
}

.new a {
    text-decoration: none;/*do not work :(*/
}

.new :hover {
    transition: 0.1s;
    font-size: 8.5vh;
    color: #6e6e9e;
}

.new :active {
    transition: 0.1s;
    font-size: 7.5vh;
}


#gridContainer {
    margin-top: 5px;
    height: 550px;

}

/*****************/