<div class="container-fluid"> <!-- контейнер есть в верхнем компоненте-->

  <div class="row">
    <!-- DATA ------------------------------>
    <div class="header-data col-sm-12 col-md-12 col-lg-12">
      <div class="bread-crumbs"><a routerLink="/candidates">Candidates ></a>
        <div class="bread-crumbs">{{candidate.name}}</div>
      </div>


      <div class="review-button-block">
        <button class="btn btn-secondary review-button-block__button">
          Review
        </button>
      </div>
    </div>
    <!-- left data --------------------------------->
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <form [formGroup]="candidateForm">
        <div class="header-info">

          <select name="status" id="status" [disabled]="!editing">
            <option value="active">Accepted for interview</option>
            <option value="">All</option>
            <option value="">New</option>
            <option value="">CV-Accepted</option>
            <option value="">CV-Rejected</option>
          </select>
          <img src="{{getImagePath()}}" alt="profile" class="avatar">
          <div *ngIf="!editing; else editInfo">
            <p id="position" class="profile-job">{{candidate.position}}</p>

            <p id="name" class="profile-name">{{candidate.name}}</p>

            <p id="salary" class="profile-salary">{{candidate.salary}}</p>

            <div id="date" class="profile-time">{{getDate()}}</div>


            <h6>Contact information:</h6>
            <p class="profile-text">phone number:</p>
            <p id="phone" class="profile-data">{{candidate.mobileNumber}}</p>

            <p class="profile-text">E-mail:</p>
            <p id="email" class="profile-data">{{candidate.email}}</p>

            <p class="profile-text">Address:</p>
            <p id="address" class="profile-data">{{candidate.address}}</p>

          </div>
          <ng-template #editInfo>
            <input type="text" class="positionEdit" formControlName="position" [(ngModel)]="candidate.position">
            <input type="text" class="nameEdit" formControlName="name" [(ngModel)]="candidate.position">
            <input type="text" class="salaryEdit" formControlName="salary" [(ngModel)]="candidate.salary">
            <input type="text" class="phoneEdit" formControlName="mobileNumber" [(ngModel)]="candidate.mobileNumber">
            <input type="text" class="emailEdit" formControlName="email" [(ngModel)]="candidate.email">
            <input type="text" class="addressEdit" formControlName="address" [(ngModel)]="candidate.address">
          </ng-template>
        </div>
      </form>
    </div>
    <div *ngIf="editing" class="buttons">
      <a class="buttons__add-experiences-and-skills">Add skills</a>
      <a class="buttons__add-experiences-and-skills">Add experience</a>
    </div>
    <!-- left data END --------------------------------->

    <!-- right data ----------------------------------->
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 experience">

      <div class="delimiter">
        <h6>Experience</h6>
      </div>
      <div class="timeLine">
        <app-experience *ngFor="let singleExperience of candidate.experiences"
                        [singleExperience]="singleExperience"
                        [quantityExperiences]="quantityExperiences"
                        [editing]="editing"
                        [candidate]="candidate"
                        (saveRejected)="saveRejected($permission)"
                        (saveAccepted)="saveAccepted($permission)"
        >
        </app-experience>
      </div>
      <div class="skills-delimiter">
        <h6>Skills</h6>

        <app-skill [skills]="candidate.skills"></app-skill>
        <div id="skills" class="skills"></div>
      </div>


      <a *ngIf="!editing; else editButton" (click)="editingData()" class="button-new">
        <i class="fa fa-pencil"></i>
      </a>
      <ng-template #editButton>
        <a (click)="editingData()" class="button-new" [hidden]="disabledSave"><i
          class="fa fa-save"></i></a>
      </ng-template>


    </div>
  </div>
</div>


<!-- modal window ADD SKILL -->

<div *ngIf="modalWindowSkill" class="modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-window__title">Add Skill</div>
        <a href="#" onclick="return closeModalWindow();" class="modal-close"><i
          class="fa fa-window-close-o"></i></a>
      </div>
      <div class="modal-body">
        <input id="addWindowSkill" autofocus type="text">
        <button onclick="return saveSkill();" type="button" id="addSkillButton" class="btn btn-secondary">add</button>
      </div>
    </div>
  </div>
</div>


<!-- modal window ADD EXPERIENCE -->
<div id="modalWindowExperience" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-window__title">Add Experience</div>
        <a href="#" onclick="return closeModalWindow();" class="modal-close"><i
          class="fa fa-window-close-o"></i></a>
      </div>
      <div class="modal-body">
        <input id="addDateExperience" type="text" autofocus value="" placeholder="Enter date...">
        <input id="addPlaceExperience" type="text" value="" placeholder="Enter position...">
        <input id="addPositionExperience" type="text" value="" placeholder="Enter company...">
        <div class="modalWindowExperience__textarea">
          <textarea id="addBodyExperience" rows="4" placeholder="Write..."></textarea>
        </div>
        <button onclick="return saveExperience()" type="button" id="modal-button2" class="btn btn-secondary">add
        </button>
      </div>
    </div>
  </div>
</div>


<!-- modal window REVIEW -->
<div id="modalWindowDescription" class="modal fade">
  <div id="modalBody" class="modal-dialog modal-lg">
    <div class="modal-content  modal-window-description">
      <div class="modal-header">
        <div class="modal-window__title" id="descriptionName"></div>
        <a href="#" onclick="return closeModalWindow();" class="modal-close">
          <i class="fa fa-window-close-o"></i>
        </a>
        <div id="receiptDate"
             class="modal-window-description__date-off-add-candidate">
        </div>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="TabDescription" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="toForm1" data-toggle="tab" href="#form1" role="tab"
               aria-controls="Form1" aria-selected="true">Add review</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="form1" aria-labelledby="Form1">
  <textarea class="form-control" id="area1" rows="7" name="desc1"
            placeholder="Write..."></textarea>
          </div>
        </div>
        <button onclick="return saveDescription();" class="btn btn-secondary">Send</button>
      </div>
    </div>
  </div>
</div>
