<div *ngIf="getPrepareDataStatus(); showLoadingData" class="container-fluid">

  <div class="row">
    <!-- DATA ------------------------------>
    <div class="header-data col-sm-12 col-md-12 col-lg-12">
      <div class="bread-crumbs"><a routerLink="/candidates">Candidates ></a>
        <div class="bread-crumbs">{{candidate.name}}</div>
      </div>


      <div class="button-blocks">
        <button
          *ngIf="!editing; else buttonAddExperience"
          class="btn btn-secondary review-button-blocks__button"
          (click)="openModalWindowReview(modalWindowReview)"
        >
          Review
        </button>

        <ng-template #buttonAddExperience>
          <button
            *ngIf="editing"
            class="btn btn-secondary review-button-blocks__button"
            (click)="openModalWindowExperience(modalWindowExperience)"
            [hidden]="!(editorCount == 0)"
          >
            Add experience
          </button>
        </ng-template>
      </div>
    </div>
    <!-- left data --------------------------------->
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <form
        [formGroup]="candidateForm"
        (ngSubmit)="saveCandidate()"
      >
        <div class="header-info">
          <div *ngIf="!editing; else editStatus">
            <div class="select">{{candidate.status}}</div>
          </div>

          <ng-template #editStatus>
            <select
              [ngClass]="{'warning': candidateForm.get('status').invalid && candidateForm.get('status').touched}"
              formControlName="status"
              [(ngModel)]="candidate.status"
            >
              <option disabled>Choose kind of status:</option>
              <option value="New">New</option>
              <option value="Accepted for interview">Accepted for interview</option>
              <option value="CV-Accepted">CV-Accepted</option>
              <option value="CV-Rejected">CV-Rejected</option>
            </select>
          </ng-template>

          <img src="{{getImagePath()}}" alt="profile" class="avatar">
          <div *ngIf="!editing; else editInfo">
            <p class="profile-position">{{candidate.position}}</p>

            <p class="profile-name">{{candidate.name}}</p>

            <p class="profile-salary">{{candidate.salary}}</p>

            <div class="profile-time">{{getDate()}}</div>
            <hr>
            <h6>Contact information:</h6>
            <p class="profile-text">phone number:</p>
            <p class="profile-data">{{candidate.phone}}</p>

            <p class="profile-text">E-mail:</p>
            <p class="profile-data">{{candidate.email}}</p>

            <p class="profile-text">Address:</p>
            <p class="profile-data">{{candidate.address}}</p>

          </div>
          <ng-template #editInfo>
            <label>Position:
              <input
                [ngClass]="{'warning': candidateForm.get('position').invalid && candidateForm.get('position').touched}"
                type="text"
                class="positionEdit"
                formControlName="position"
                [(ngModel)]="candidate.position"
              >
            </label>

            <label>Name:
              <input
                [ngClass]="{'warning': candidateForm.get('name').invalid && candidateForm.get('name').touched}"
                type="text"
                class="nameEdit"
                formControlName="name"
                [(ngModel)]="candidate.name"
              >
            </label>

            <label>Salary:
              <input
                [ngClass]="{'warning': candidateForm.get('salary').invalid && candidateForm.get('salary').touched}"
                type="text"
                class="salaryEdit"
                formControlName="salary"
                [(ngModel)]="candidate.salary"
              >
            </label>

            <label>Phone:
              <input
                [ngClass]="{'warning': candidateForm.get('phone').invalid && candidateForm.get('phone').touched}"
                type="text"
                class="phoneEdit"
                formControlName="phone"
                [(ngModel)]="candidate.phone"
              >
            </label>

            <label>E-mail:
              <input
                [ngClass]="{'warning': candidateForm.get('email').invalid && candidateForm.get('email').touched}"
                type="text"
                class="emailEdit"
                formControlName="email"
                [(ngModel)]="candidate.email"
              >
            </label>

            <label>Address:
              <input
                [ngClass]="{'warning': candidateForm.get('address').invalid && candidateForm.get('address').touched}"
                type="text"
                class="addressEdit"
                formControlName="address"
                [(ngModel)]="candidate.address"
              >
            </label>
          </ng-template>
        </div>


        <button
          class="button-new fa fa-pencil"
          *ngIf="!editing; else saveButton"
          (click)="editCandidate()"
          title="edit candidate {{candidate.name}}"
        >
        </button>

        <ng-template #saveButton>
          <button
            type="submit"
            class="button-new fa fa-save"
            [disabled]="candidateForm.invalid"
            [hidden]="!(editorCount == 0)">
          </button>
        </ng-template>


      </form>
    </div>
    <!-- left data END --------------------------------->

    <!-- right data ----------------------------------->
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 experience">

      <div class="delimiter">
        <h6>Experience</h6>
      </div>
      <div class="timeLine">
        <app-experience *ngFor="let singleExperience of candidate.experiences; let idx = index"
                        [singleExperience]="singleExperience"
                        [quantityExperiences]="quantityExperiences"
                        [indexExperience]="idx"
                        [editing]="editing"
                        (onSaveRejected)="saveRejected($event)"
                        (onSaveAccepted)="saveAccepted($event)"
                        (onDeleteExperience)="deleteExperience($event)"
        >
        </app-experience>
      </div>

      <div class="skills-delimiter">
        <h6>Skills</h6>

        <app-skill
          [skills]="candidate.skills"
          [editing]="editing"
          (onSaveRejected)="saveRejected($event)"
          (onSaveAccepted)="saveAccepted($event)"
          (onSaveSkills)="saveSkills($event)"
        ></app-skill>

        <div id="skills" class="skills"></div>
      </div>

    </div>
  </div>
</div>

<ng-template #showLoadingData>loading...</ng-template>


<!-- modal window ADD EXPERIENCE -->
<ng-template #modalWindowExperience let-c="close" let-d="dismiss">
  <div class="modalWindowExperience">
    <div class="modal-header">
      <div class="modal-window__title">Add Experience</div>
      <a (click)="closeModalWindow()" class="modal-close">
        <i class="fa fa-window-close-o"></i>
      </a>
    </div>
    <div class="modal-body">
      <form [formGroup]="newExperienceForm" (ngSubmit)="saveModalWindowDataExperience()">
        <label for="beginDate">Begin date:
          <input
            id="beginDate"
            [ngClass]="{'warning': newExperienceForm.get('timeStart').invalid && newExperienceForm.get('timeStart').touched}"
            type="text"
            autofocus
            placeholder="Enter begin date..."
            formControlName="timeStart"
          >
        </label>
        <label for="endDate">End date:
          <input
            id="endDate"
            [ngClass]="{'warning': newExperienceForm.get('timeEnd').invalid && newExperienceForm.get('timeEnd').touched}"
            type="text"
            placeholder="Enter End date..."
            formControlName="timeEnd"
          >
        </label>
        <label for="company">Сompany:
          <input
            id="company"
            [ngClass]="{'warning': newExperienceForm.get('company').invalid && newExperienceForm.get('company').touched}"
            type="text"
            placeholder="Enter company..."
            formControlName="company"
          >
        </label>
        <label for="position">Position:
          <input
            id="position"
            [ngClass]="{'warning': newExperienceForm.get('position').invalid && newExperienceForm.get('position').touched}"
            type="text"
            placeholder="Enter position..."
            formControlName="position"
          >
        </label>
        <label for="type-of-experience-select">Change type of experience:</label>
        <select
          id="type-of-experience-select"
          formControlName="job"
        >
          <option disabled>Choose kind of experience</option>
          <option value=1>job</option>
          <option value=2>education</option>
        </select>
        <label>Enter responsibility:</label>
        <br>
        <textarea
          [ngClass]="{'warning': newExperienceForm.get('responsibility').invalid && newExperienceForm.get('responsibility').touched}"
          class="modalWindowExperience__textarea"
          rows="4"
          type="text"
          placeholder="Write..."
          formControlName="responsibility"
        >
        </textarea>
        <button
          class="btn btn-secondary"
          type="submit"
          [disabled]="newExperienceForm.invalid"
        >
          add
        </button>
      </form>
    </div>
  </div>
</ng-template>


<!-- modal window REVIEW -->
<ng-template #modalWindowReview>
  <div class="modal-content modal-window-review">
    <div class="modal-header">
      <div class="modal-window__title">{{candidate.name}}</div>
      <a (click)="closeModalWindow()" class="modal-close">
        <i class="fa fa-window-close-o"></i>
      </a>
      <div class="modal-window-description__date-off-add-candidate">{{getDate()}}</div>
    </div>
    <div class="modal-body">

      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Add Review</ng-template>
          <ng-template ngbTabContent>
            <form [formGroup]="newReviewForm" (ngSubmit)="saveModalWindowDataReview()">
              <textarea
                [ngClass]="{'warning': newReviewForm.get('content').invalid && newReviewForm.get('content').touched}"
                id="area1"
                class="form-control"
                rows="7"
                type="text"
                placeholder="Write..."
                formControlName="content"
              ></textarea>
              <button
                class="btn btn-secondary"
                type="submit"
                [disabled]="newReviewForm.invalid"
              >
                Send
              </button>
            </form>
          </ng-template>
        </ngb-tab>

        <ngb-tab *ngFor="let review of candidate.reviews">
          <ng-template ngbTabTitle>{{review.name}}</ng-template>
          <ng-template ngbTabContent>
            <textarea disabled rows="7" type="text">{{review.content}}</textarea>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</ng-template>
