<div class="notification-bar">
  <div class="row no-gutters">
    <div class="col">
      <h4 class="notification-bar-header">New candidates</h4>
    </div>
  </div>

  <div #candidatesField class="notification-candidates-field" [ngClass]="{'scrollable': areCandidatesScrollable}">
    <div *ngFor="let candidate of candidates" class="row no-gutters">
      <div class="col">
        <a [routerLink]="['/id-candidate', candidate.id]" routerLinkActive="active" class="d-flex notification-candidate-wrapper" (click)="hideNotifications()">
          <img [src]="'../../../assets/images/' + candidate.photo + '.png'" alt="" class="avatar-small">
          <div class="notification-candidate-information-wrapper">
            <div class="notification-candidate-name">{{candidate.name}}
            </div>
            <div class="notification-candidate-email">{{candidate.email}}
            </div>
            <div class="notification-candidate-position">{{candidate.position}}
            </div>
          </div>
        </a>
      </div>
    </div>

    <div *ngIf="!areThereNewCandidates" class="row no-gutters">
      <div class="col">
        <p class="no-data-hint">No new candidates</p>
      </div>
    </div>

  </div>

  <div class="row no-gutters">
    <div class="col">
      <h4 class="notification-bar-view-all" (click)="showAllCandidates(candidatesField)">View all</h4>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col">
      <h4 class="notification-bar-header">Next interviews</h4>
    </div>
  </div>

  <div #interviewsField class="notification-events-field" [ngClass]="{'scrollable': areInterviewsScrollable}">
    <div *ngFor="let interview of customInterviews" class="row no-gutters">
      <div class="col">
        <a [routerLink]="['/interview']" routerLinkActive="active" class="d-flex notification-interview-wrapper" (click)="hideNotifications()">
          <div class="notification-interview-information-wrapper">
            <div class="notification-interview-participants">{{interview.participants}}</div>
            <div class="notification-interview-date">{{interview.start | date: 'MMM d'}}</div>
            <div class="notification-interview-time">{{interview.start | date: 'H:mm'}} - {{interview.end | date: 'H:mm'}}</div>
          </div>
        </a>

      </div>
    </div>

    <div *ngIf="!areThereNextInterviews" class="row no-gutters">
      <div class="col">
        <p class="no-data-hint">No next interviews</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col">
      <h4 class="notification-bar-view-all" (click)="showAllInterviews(interviewsField)">View all</h4>
    </div>
  </div>

</div>
