<div class="left-side">
  <p class="filter-title">Filter by experience</p>
  <dx-select-box (onValueChanged)="selectVacancyExperience($event)"
                 [items]="vacancyExperiences"
                 placeholder="Select experience...">
  </dx-select-box>
<!--  <p class="filter-by">Filter by date</p>
  <dx-select-box (onValueChanged)="selectVacancyDate($event)"
                 [items]="vacancyDates"
                 placeholder="Select date...">
  </dx-select-box>-->
</div>


<!--<dxi-column
  dataField="SaleAmount"
  alignment="right"
  format="currency">

</dxi-column>-->
<!--<div class="dx-field custom-height-slider">
  <div class="dx-field-label">Filter by salary</div>
  <div class="dx-field-value">
    <dx-range-slider
      [min]="0"
      [max]="100"
      [start]="15"
      [end]="65">
      &lt;!&ndash;[tooltip]="tooltip"&ndash;&gt;
    </dx-range-slider>
  </div>
</div>-->



<dx-data-grid id="gridContainer" [dataSource]="vacancies" [columnMinWidth]="100">
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"
             [allowedPageSizes]="[10, 20, 50]"
             [showNavigationButtons]="true">
  </dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column dataField="position"></dxi-column>
  <dxi-column dataField="experience"></dxi-column>
  <dxi-column dataField="salary" alignment="left" format="currency">
  </dxi-column>
  <dxi-column dataField="date" dataType="date" format="MMMM d, yyyy" caption="Date of addition"></dxi-column>
</dx-data-grid>

<i class="fa fa-plus-circle add-vacancy-button" aria-hidden="true" (click)="openCreateVacancyWindow(content)"></i>

<ng-template #content>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create new vacancy</h5>
      <button type="button" class="close" aria-label="Close"
              (click)="closeModalWindow()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="dx-field">
            <div class="dx-field-label modal-position-title">Position*</div>
            <div class="dx-field-value" [ngClass]="{'invalid': isPositionInvalid}">
              <dx-autocomplete
                placeholder="Type position..."
                [(value)]="selectedPosition"
                [dataSource]="positionsStr">
              </dx-autocomplete>
            </div>
            <p class="hint" *ngIf="isPositionHintVisible">{{positionHint}}</p>
          </div>
        </div>

        <div class="form-group">
          <label for="vacancy-experience">Experience*</label>
          <select (change)="updateExperience($event)" [ngClass]="{'invalid': isExperienceInvalid}"
                  class="custom-select" id="vacancy-experience">
            <option value="0" disabled>Choose an experience</option>
            <option *ngFor="let experience of experiences; let idx = index" value="{{idx + 1}}">{{experience}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="vacancy-salary">Salary*</label>
          <input (change)="updateSalary($event)" [ngClass]="{'invalid': isSalaryInvalid}" type="text"
                 id="vacancy-salary" class="form-control" placeholder="Enter vacancy salary">
          <p class="hint" *ngIf="isSalaryHintVisible">{{salaryHint}}</p>
        </div>

      </form>
      </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModalWindow()">Close
      </button>
      <button type="button" class="btn btn-primary" (click)="saveVacancy()">Save</button>
    </div>
  </div>
</ng-template>
