<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>hr app</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/common-styles.css" rel="stylesheet">
  <link rel="stylesheet" href="css/candidates.css">
  <link href="css/mobile-menu.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.5/css/dx.common.css"/>
  <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.5/css/dx.light.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.5/css/dx.common.css"/>
  <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.5/css/dx.light.css"/>
  <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.5/js/dx.all.js"></script>
  <script type="text/javascript" src="js/notifications.js"></script>
  <script type="text/javascript" src="js/candidates.js"></script>
  <script type="text/javascript" src="js/mobile-navigation.js"></script>

</head>
<body>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-2 col-xl-2 beauty reset class-menu">
    <h5>hr app</h5>
    <nav>
      <ul class="menu">
        <li><a href="interview.html">Interview</a></li>
        <li><a href="vacancies.html">Vacancies</a></li>
        <li><a href="candidates.html" class="active">Candidates</a></li>
        <li><a href="#">Management</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10  reset all-displays">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10  find-bar beauty">
      <a id="hamburger" class="find-bar__navicon" href="#"><i class="fa fa-bars"></i></a>
      <form action="#" class="find-bar-element">
        <button type="submit" class="icon find-bar-element">
          <i class="fa fa-search"></i>
        </button>
        <input type="search" placeholder="Search for vacancies, candidates..." name="find-string"
               class="find-bar-element find-bar__string">
      </form>
      <a id="notification-button" class="icon" title="notifications" href="#"><i class="fa fa-bell find-bar-element"></i></a>
      <a class="icon" id="exit" title="exit" href="#"><i class="fa fa-sign-out find-bar-element"></i></a>
    </div>


      <div class="row-data under-find-bar">
        <p class="filter-by-status">Filter by status</p>
        <div class="left-side">
          <div id="selectStatus"></div>
        </div>
        <div id="gridContainerCandidates"></div>
        <a href="#" class="button-new"><i class="fa fa-plus-circle"></i></a>
      </div>
      </div>
    </div>
  </div>

</body>
</html>