<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>hr app</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/common-styles.css" rel="stylesheet">
  <link href="css/login-registration-reset.css" rel="stylesheet">
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/login-registration-reset.js"></script>
</head>
<body>
<div class="container-fluid height-100 beauty">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 offset-md-3 offset-lg-4 offset-xl-4">
      <div class="login-registration-reset-forms">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <h2>hr app</h2>
            <a class="nav-item nav-link active-tab" id="signInTab" data-toggle="tab" role="tab" aria-controls="nav-home"
               aria-selected="true">Sign in</a>
            <a class="nav-item nav-link no-active" id="signUpTab" data-toggle="tab" role="tab"
               aria-controls="nav-profile" aria-selected="false">Sign up</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-panel" id="nav-login" role="tabpanel">
            <h6 id="forgotPasswordTitle" class="hidden">Forgot password?</h6>
            <form action="#" method="get">
              <div class="form-group">
                <div class="helper" data-helper="Enter e-mail, please: example@example.com">
                  <label id="labelForEmail" for="inputEmail">E-mail address</label>
                  <!--<input type="email" class="form-control" id="inputEmail" aria-describedby="email"-->
                  <input class="form-control" id="inputEmail" aria-describedby="email"
                         placeholder="e-mail" name="email" autofocus required>
                </div>
              </div>
              <div id="passwordBlock" class="form-group">
                <div class="helper" data-helper="Enter password, please: any symbols">
                  <label for="inputPassword">Password</label>
                  <input type="password" class="form-control" id="inputPassword"
                         placeholder="enter password" name="password" required>
                </div>
              </div>
              <button id="button" type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <a id="forgotPassword" href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalWindowSendInstructions" class="modal fade" >
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-text">Instructions are sent to the address you specified</div>
        <button type="button" id="modal-button" data-dismiss="modal" class="btn btn-primary">O K</button>
      </div>
    </div>
  </div>
</div>
</body>