<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/register-login.js"></script>
</head>
<body>
<div>
    <label>LOGIN</label>
    <input id="log_email" placeholder="email">
    <input id="log_pass" placeholder="pass">
    <button id="log_button">login</button>
</div>
<br><br><br>
<div>
    <label>REGISTER</label>
    <input id="reg_email" placeholder="email">
    <input id="reg_pass" placeholder="pass">
    <button id="reg_button">register</button>
</div>


</body>
</html>