<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User's cabinet</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/common-styles.css" rel="stylesheet">
  <link href="css/mobile-menu.css" rel="stylesheet">
  <link href="css/user-cabinet.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mobile-navigation.js"></script>
  <script type="text/javascript" src="js/notifications.js"></script>
  <script src="js/user-cabinet.js"></script>

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-xl-2 beauty reset class-menu">
      <h5>hr app</h5>
      <nav>
        <ul class="menu">
          <li><a href="interview.html" class="active">Interview</a></li>
          <li><a href="vacancies.html">Vacancies</a></li>
          <li><a href="candidates.html">Candidates</a></li>
          <li><a href="#">Management</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10  reset all-displays scrolling">
      <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10  find-bar beauty">
        <a id="hamburger" class="find-bar__navicon" href="#"><i class="fa fa-bars black"></i></a>
        <form action="#" class="find-bar-element">
          <button type="submit" class="icon find-bar-element">
            <i class="fa fa-search"></i>
          </button>
          <input type="search" placeholder="Search for vacancies, candidates..." name="find-string"
                 class="find-bar-element find-bar__string">
        </form>
        <a id="notification-button" class="icon" title="notifications" href="#"><i
          class="fa fa-bell find-bar-element"></i></a>
        <a class="icon" title="exit" href="#"><i class="fa fa-sign-out find-bar-element"></i></a>
      </div>
      <div class="row-data under-find-bar">
        <div class="container user-cabinet-content-wrapper">
          <div class="row">
            <div class="col">
              <form>
                <h2 class="user-cabinet-title">Your cabinet</h2>
                <div class="form-group">
                  <div class="user-avatar"></div>
                  <label class="custom-file-upload">
                    <input type="file" class="avatar-input">
                    Change photo
                  </label>
                </div>
                <div class="form-group" id="user-name-field">
                  <div class="user-writable-fields hidden">
                    <label for="user-name" class="user-field-title">Name</label>
                    <input type="text" class="form-control" id="user-name" placeholder="Enter your name">
                  </div>
                  <div class="user-readonly-fields visible">
                    <p class="user-field-title">Name</p>
                    <p class="user-field-name">You haven't filled this field yet</p>
                  </div>
                </div>
                <hr>
                <div class="form-group" id="user-surname-field">
                  <div class="user-writable-fields hidden">
                    <label for="user-surname" class="user-field-title">Surname</label>
                    <input type="text" class="form-control" id="user-surname" placeholder="Enter your surname">
                  </div>
                  <div class="user-readonly-fields visible">
                    <p class="user-field-title">Surname</p>
                    <p class="user-field-surname">You haven't filled this field yet</p>
                  </div>
                </div>
                <hr>
                <div class="form-group" id="user-role-field">
                  <div class="user-writable-fields hidden">
                    <label for="role-select" class="user-field-title">Role</label>
                    <select class="custom-select" id="role-select">
                      <option value="" disabled selected>Choose a role</option>
                      <option value="1">Manager</option>
                      <option value="2">Developer</option>
                    </select>
                  </div>
                  <div class="user-readonly-fields visible">
                    <p class="user-field-title">Role</p>
                    <p class="user-field-role">You haven't filled this field yet</p>
                  </div>
                </div>
                <hr>
                <div class="form-group" id="user-email-field">
                  <div class="user-writable-fields hidden">
                    <label for="user-email" class="user-field-title">Email</label>
                    <input type="email" class="form-control user-email" id="user-email" placeholder="Enter your email">
                  </div>
                  <div class="user-readonly-fields visible">
                    <p class="user-field-title">Email</p>
                    <p class="user-field-email">You haven't filled this field yet</p>
                  </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary save-user-info-button hidden" id="save-user-info-button">
                  Save
                </button>
              </form>
              <button class="btn btn-primary edit-user-info-button visible" id="edit-user-info-button">Edit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
