<div class="container-fluid height-100 beauty">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 offset-md-3 offset-lg-4 offset-xl-4">
      <div class="login-registration-reset-forms">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <h2>hr app</h2>
            <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-home"
               routerLink="/login" routerLinkActive="active" aria-selected="true">Sign in</a>
            <a class="nav-item nav-link" data-toggle="tab" role="tab"
               routerLink="/registration" routerLinkActive="active" aria-controls="nav-profile" aria-selected="false">Sign up</a>
          </div>
        </nav>
            <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

