span {
  text-transform: lowercase;
}

h6 {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.tab-content {
  background-color: #ffffff;
  border-left: 1px solid #dddddd;
  display: block;
  height: 100%;
  padding: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.helper:hover::after {
  content: attr(data-helper);
  position: absolute;
  left: 40%;
  /*z-index: 1;*/
  background: #5b5b5d;
  font-family: Arial, sans-serif;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  color: #ffffff;
  text-transform: none;
}

.warning {
  transition-duration: 300ms;
  color: #ff0000;
}
