/*New candidates page*/

#gridContainerCandidates {
  height: 80vh;
}

.left-side {
  width: 200px;
  margin-top: 10px;
  display: inline-block;
}

.filter-by-status {
  display: inline-block;
  position: relative;
  top: -11px;
  margin-bottom: 5px;
  text-transform: none;

}

.dx-popup-content {
  background-color: #ffffff;
  border: 1px solid #686868;
}