#new-event-modal-title {
  margin: 0;
}

.add-event-button {
  position: absolute;
  right: 1%;
  background-color: #c6c8ca;
  border: none;
  color: #000;
}

.datepicker {
  margin: 0 auto;
}

.datepicker--body {
  background-color: #fff !important;
}

.datepicker--time-row {
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 2px no-repeat !important;
}

.selection-section {
  text-transform: none;
  font-size: 15px;
  margin: 10px 0 0 0;
}

#other-options-button {
  margin-bottom: 16px;
}

.event-modal-footer {
  padding: 16px 0 0 0;
}

#select-participant {
  font-size: 1rem;
}

#event-start-date, #event-end-date {
  margin-bottom: 15px;
}

.other-options-wrapper.hidden {
  display: none;
}

.other-options-wrapper.visible {
  display: block;
}

#event-description {
  resize: none;
  height: 125px;
}

.current-event-color-text {
  margin: 13px 0 8px 0;
}

.event-color-wrapper {
  border-radius: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all linear .2s;
  margin: 5px 5px;
}

#current-event-color {
  cursor: auto;
}

#current-event-color:hover {
  transform: none;
}

.event-color-wrapper.current {
  background-color: #3a87ad;
}

.event-color-wrapper:hover {
  transform: scale(1.1);
}

.event-color-wrapper.red {
  background-color: #e74c3c !important;
}

.event-color-wrapper.blue {
  background-color: #3498db !important;
}

.event-color-wrapper.yellow {
  background-color: #f1c40e !important;
}

.event-color-wrapper.brown {
  background-color: #a5860a !important;
}

.event-color-wrapper.grey {
  background-color: #95a5a6 !important;
}

.event-color-wrapper.green {
  background-color: #27ae60 !important;
}

.event-color-wrapper.orange {
  background-color: #f39c12 !important;
}

.event-color-wrapper.purple {
  background-color: #9b59b6 !important;
}

/*for calendar height*/
.fc-scroller.fc-day-grid-container {
  height: 100% !important;
}

/*for calendar table cells min height*/
.fc-basic-view .fc-body .fc-row {
  min-height: 11vh !important;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .fc-basic-view .fc-body .fc-row {
    min-height: 10vh !important;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .fc-basic-view .fc-body .fc-row {
    min-height: 10vh !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .fc-basic-view .fc-body .fc-row {
    min-height: 13vh !important;
  }
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
  z-index: 1 !important;
}

.row-data {
  height: auto;
}

.calendar {
  max-width: 95%;
  margin: 0 auto;
}

#calendar .fc-today {
  background: #c6c8ca;
}

#calendar .fc-center, .fc-day-header, .fc-axis, .fc-widget-header {
  color: #767676;
}

/******* hardcode *******/
.interview-header {
  text-transform: none;
  font-size: 25px;
  margin-top: 80px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: #767676;
}

@media screen and (max-device-width: 993px) {
  .interview-header {
    margin-top: 15px;
  }

  .add-event-button {
    margin-right: 10px;
  }
}

#calendar .fc-time-grid-event {
  margin: 10px;
  border-radius: 15px;

}

.fc-button-group button {
  border: none;
  color: #767676;
  outline: none;
}

.fc-today-button:active {
  outline: none;
}

/*for mob*/
/*.fc-scroller {*/
/*!*overflow-y: hidden !important;*!*/
/*!*box-sizing: border-box !important;*!*/
/*!*height: 20px !important;*!*/
/*}*/
/*.fc-unthemed {*/
/*box-sizing: padding-box !important;*/
/*margin: 0 !important;*/
/*padding: 0 !important;*/
/*position: absolute !important;*/
/*}*/

/*#calendar {*/
/*box-sizing: border-box !important;*/
/*position: absolute; !important;*/
/*!*height: border-box;*!*/

/*}*/
/*.fc-ltr {*/
/*!*box-sizing: border-box !important;*!*/
/*position: absolute !important;*/
/*!*margin-bottom: 20px !important;*!*/

/*}*/
/*.fc-unthemed {*/
/*!*box-sizing: border-box !important;*!*/
/*position: absolute !important;*/
/*}*/