/******* right block *******/
input, textarea {
  display: inline;
  border: none;
  margin: 2px 5px;
  padding: 0;
  width: 80%;
  text-align: inherit;
  text-transform: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
  overflow: auto;
}

.timeLine__unit__right-information__company input,
.timeLine__unit__right-information__responsibility textarea {
  margin-top: 7px;
  height: 150%;
  text-transform: inherit;
}

.timeLine__unit__right-information__responsibility textarea {
  margin-top: 7px;
  min-height: 100%;
  width: 100%;
  text-transform: inherit;
  box-sizing: content-box;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid #a6c7ff;
  color: #000000;
  margin-bottom: 0;
}

.timeLine {
word-wrap: break-word;
text-transform: none;
margin-bottom: 38px;
}


.timeLine__unit {
  margin: 15px;
  display: flex;
}

.timeLine__unit__left-information {
  margin-right: 10px;
  float: left;
  width: 26%;
  display: inline;
  font-size: 13px;
  font-weight: bold;
}

.timeLine__unit__left-information__date {
  float: right;
  min-width: 63%;
  max-width: 90%;
  border: 2px solid #c8c8c8;
  border-radius: 15px;
  padding: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #3b3b3b;
}

.timeLine__unit__left-information__position {
  max-width: 100%;
  float: right;
  color: #828282;
  padding: 6px;
  text-align: right;
}

.timeLine__unit__diagram {
  float: left;
  width: 24px;
  display: inline;
}

.timeLine__unit__diagram__dot {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #c8c8c8;
}

.timeLine__unit__diagram__line__job {
  width: 2px;
  border: 1px solid #c8c8c8;
  height: calc(100% - 5px);
  margin: 0 auto;
}

.timeLine__unit__diagram__line__education:nth-last-of-type(3){
display:none;
}

.timeLine__unit__diagram__line__education {
  width: 2px;
  border: 1px dotted #c8c8c8;
  height: calc(100% - 5px);
  margin: 0 auto;
}

.timeLine__unit__right-information {
  margin-left: 10px;
  float: left;
  max-width: calc(74% - 34px);
  min-width: calc(74% - 34px);
  display: inline;
  border: 2px solid #c8c8c8;
  border-radius: 15px;
  padding: 10px;
}

.timeLine__unit__right-information__company {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.timeLine__unit__right-information__responsibility {
  font-size: 14px;
  text-transform: none;
}

.timeLine__unit__buttons {
  display: inline-block;
  vertical-align: bottom;
}

.timeLine__unit__buttons__button {
  height: 30px;
  vertical-align: bottom;
  display: inline-block;
  margin-top: 5px;
}

a[title="edit experience"] {
  color: #00008b;
}

a[title="edit experience"].icon:active {
  color: #00008b;
}

a[title="edit experience"]:hover {
  color: #0000ff;
}

a[title="delete experience"] {
  color: #8b0000;
}

a[title="delete experience"].icon:active {
  color: #8b0000;
}

a[title="delete experience"]:hover {
  color: #ff0000;
}

.icon {
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.icon:hover {
  transition: 0.1s;
  font-size: 23px;
  margin-right: -1px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(203, 203, 203, 1);
}

.icon:active {
  font-size: 22px;
  margin-right: 0;
  text-shadow: none;
}
