<div
  *ngIf="!editingExperience; else editingForm"
  class="timeLine__unit">
  <div class="timeLine__unit__left-information">
    <div class="timeLine__unit__left-information__date">
      {{singleExperience.timeEnd}} - {{singleExperience.timeStart}}
    </div>
    <div class="timeLine__unit__left-information__position">
      {{singleExperience.position}}
    </div>
  </div>
  <div class="timeLine__unit__diagram">
    <div class="timeLine__unit__diagram__dot"></div>
    <div
      *ngIf="quantityExperiences > indexExperience+1"
      [ngClass]="{
            'timeLine__unit__diagram__line__job': singleExperience.job == 1,
            'timeLine__unit__diagram__line__education': singleExperience.job == 2
          }">

    </div>
  </div>

  <div class="timeLine__unit__right-information">
    <div class="timeLine__unit__right-information__company">
      {{singleExperience.company}}
    </div>
    <div class="timeLine__unit__right-information__responsibility">
      {{singleExperience.responsibility}}
    </div>
  </div>

  <div *ngIf="editing" class="timeLine__unit__buttons">
    <div class="timeLine__unit__buttons__button">
      <button
        class="icon fa fa-edit"
        title="edit experience"
        (click)="editExperience()"
      >
      </button>
    </div>
    <div class="timeLine__unit__buttons__button">
      <button
        class="icon fa fa-trash"
        title="delete experience"
        (click)="deleteExperience(indexExperience)"
      >
      </button>
    </div>
  </div>

</div>






<ng-template #editingForm>
  <form [formGroup]="experienceForm" (ngSubmit)="saveExperience()">

  <div class="timeLine__unit">
    <div class="timeLine__unit__left-information">
      <div class="timeLine__unit__left-information__date">
        <input
          [ngClass]="{'warning': experienceForm.get('timeEnd').invalid && experienceForm.get('timeEnd').touched}"
          type="text"
          formControlName="timeEnd"
          [(ngModel)]="singleExperience.timeEnd"
        >
        <input
          [ngClass]="{'warning': experienceForm.get('timeStart').invalid && experienceForm.get('timeStart').touched}"
          type="text"
          formControlName="timeStart"
          [(ngModel)]="singleExperience.timeStart"
        >
      </div>
      <div class="timeLine__unit__left-information__position">
        <input
          [ngClass]="{'warning': experienceForm.get('position').invalid && experienceForm.get('position').touched}"
          type="text"
          formControlName="position"
          [(ngModel)]="singleExperience.position"
        >
      </div>

        <label for="type-of-experience-select">change type of experience:</label>
        <select
          [ngClass]="{'warning-select': experienceForm.get('job').invalid && experienceForm.get('job').touched}"
          id="type-of-experience-select"
          formControlName="job"
          [(ngModel)] = "singleExperience.job"
        >
          <option disabled>Choose kind of experience</option>
          <option value=1>worker</option>
          <option value=2>student</option>
        </select>
    </div>

    <div class="timeLine__unit__diagram">
      <div class="timeLine__unit__diagram__dot"></div>
      <div
        *ngIf="quantityExperiences > indexExperience+1"
        [ngClass]="{
            'timeLine__unit__diagram__line__job': singleExperience.job == 1,
            'timeLine__unit__diagram__line__education': singleExperience.job == 2
          }">
      </div>
    </div>

    <div class="timeLine__unit__right-information">
      <div class="timeLine__unit__right-information__company">
        <input
          [ngClass]="{'warning': experienceForm.get('company').invalid && experienceForm.get('company').touched}"
          type="text"
          formControlName="company"
          [(ngModel)]="singleExperience.company"
        >
      </div>
      <div class="timeLine__unit__right-information__responsibility">
        <textarea
          [ngClass]="{'warning': experienceForm.get('responsibility').invalid && experienceForm.get('responsibility').touched}"
          rows="6"
          type="text"
          formControlName="responsibility"
          [(ngModel)]="singleExperience.responsibility"
        >
        </textarea>
      </div>
    </div>

    <div class="timeLine__unit__buttons">
      <div class="timeLine__unit__buttons__button">
        <button
          class="icon fa fa-save"
          title="save experience"
          [disabled]="experienceForm.invalid"
          type="submit"
        >
        </button>
      </div>
      <div class="timeLine__unit__buttons__button">
        <button
          class="icon fa fa-trash"
          title="delete experience"
          (click)="deleteExperience(indexExperience)"
        >
        </button>
      </div>
    </div>

  </div>
  </form>
</ng-template>
