<div class="filters-wrapper">
  <p class="filter-title">Filter by status</p>
  <div class="filter-wrapper">
    <dx-select-box (onValueChanged)="selectCandidateStatus($event)"
                   [items]="candidateStatuses"
                   placeholder="Select status...">
    </dx-select-box>
  </div>
  <i class="fa fa-plus-circle add-candidate-button" aria-hidden="true" (click)="addNewCand()"></i>
</div>
<dx-data-grid
  id="gridContainer"
  [dataSource]="candidates"
  [columnMinWidth]="100"
  [height]="'90%'"
  (onRowRemoved)="removeCandidate($event.data)">
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"
             [allowedPageSizes]="[10, 20, 50]"
             [showNavigationButtons]="true"
             resourceCellTemplate="candidatesSource">
  </dxo-pager>
  <dxo-editing
    mode="row"
    [allowDeleting]="true">
  </dxo-editing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column dataField="photo" [width]="100" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="candidatesSource"></dxi-column>
  <dxi-column dataField="name" caption="Fullname"></dxi-column>
  <dxi-column dataField="position"></dxi-column>
  <dxi-column dataField="status"></dxi-column>
  <dxi-column dataField="salary" alignment="left" format="currency"></dxi-column>
  <dxi-column dataField="date" dataType="date" format="MMMM d, yyyy" caption="Date of addition"></dxi-column>
  <div *dxTemplate="let candidate of 'candidatesSource'">
    <div>
      <a [routerLink]="['/id-candidate', candidate.data.id]" routerLinkActive="active" class="candidate-avatar-wrapper">

        <img [src]="'../../../assets/images/' + candidate.data.photo + '.png'" alt="" class="candidate-avatar">
      </a>
    </div>
  </div>
</dx-data-grid>


