* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;

}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 565px;
}

/* Style the buttons inside the tab */
.tablinks {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 85%;
    border-left: none;
    height: 565px;
    position: relative;
    padding-bottom: 50px;
}

.header {
    display: flex;
    position: relative;

}

.search {

    color: grey;
    width: 85%;
    border: none;
    background-color: #f1f1f1;
    padding: 22px 45px;

}

.icon {
    position: absolute;

    margin-left: 180px;
    margin-top: 21px;

    color: #4f5b66;
}

.disabletab {
    display: block;
    background-color: #f1f1f1;
    color: grey;
    padding: 22px 16px;
    width: 15%;
    border: none;
    outline: none;
    text-align: left;
    transition: 0.3s;
    font-size: 17px;

}

.ding {
    display: block;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
}

.exit {
    padding: 10px;
    display: block;
    background-color: #f1f1f1;
    cursor: pointer;

}

.filter {
    display: flex;

}

.dropbtn {
    background-color: #f1f1f1;
    color: black;
    outline: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 2em / 5em;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 2em / 5em;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2em / 5em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 2em / 5em;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 2em / 5em;
}

.dropdown:hover .dropbtn {
    background-color: grey;
    border-radius: 2em / 5em;
}

.filter-label {
    padding: 16px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px;
    text-align: left;
}

td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.footer {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 10px;
}

select {
    margin-left: 10px;
}

.footer-label {
    margin-left: 10px;
}

.arrow {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.plus {

    padding-top: 50px;
    padding-right: 30px;
    float: right;

}

.plusimg {
    height: 60px;
    width: 60px;
    cursor: pointer;

}