.menu {
  padding: 0;
}

.menu :hover {
  background-color: #dddddd;
}

.menu a {
  text-decoration: none;
  color: #3b3b3b;
  display: block;
  padding: 18px 30px;
}

.menu li {
  list-style-type: none;
}

.active {
  background-color: #c6c8ca;
}
