body {
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  cursor: default;
  text-transform: uppercase;
  font-size: 14px;
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.scrolling {
  overflow-y: auto;
}

.beauty {
  background-color: #e9e9e9;
  box-shadow: 3px 2px 4px rgba(221, 221, 221, 1);
}

h5 {
  color: #6a6967;
  margin: 16px 0 16px 30px;
  font-size: 18px;
}

button[type=submit] {
  outline: none;
}

.button-new i {
  background: none;
  position: fixed;
  bottom: 7%;
  right: 3%;
  font-size: 50px;
  color: #6e6e6e;
  text-shadow: 3px 5px 2px rgba(203, 203, 203, 1);
  z-index: 20;
}

.button-new i:hover {
  transition: 0.1s;
  font-size: 54px;
  color: #6e6e9e;
}

.button-new i:active {
  transition: 0.1s;
  font-size: 50px;
  text-shadow: none;
}

.form-group span {
  padding-top: 15px;
}

#user-cabinet-button:hover,
#notification-button:hover {
  text-decoration: none;
}
