<button class="btn btn-secondary add-event-button" (click)="openSm(content)">Add new event</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="new-event-modal-title">Create new event</h5>
      <button type="button" class="close" id="close-event-modal-button-top" aria-label="Close"
              (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="modal-body-form">
        <div class="form-group">
          <input type="text" (change)="updateTitle($event)" [ngClass]="{'invalid': isTitleInvalid}"
                 name="modal-body-form" class="form-control" id="event-title" placeholder="Enter event name*">
        </div>
        <div class="form-group">
          <input type="text" value="{{selectedStartDate | date: 'short'}}" [ngClass]="{'invalid': isStartDateInvalid}"
                 class="form-control" id="event-start-date" placeholder="Choose start date and time*"
                 disabled>
          <owl-date-time-inline [(ngModel)]="selectedStartDate" name="modal-body-form"></owl-date-time-inline>
        </div>
        <div class="form-group">
          <input type="text" value="{{selectedEndDate | date: 'short'}}" [ngClass]="{'invalid': isEndDateInvalid}"
                 class="form-control" id="event-end-date" placeholder="Choose end date and time*"
                 disabled>
          <owl-date-time-inline [(ngModel)]="selectedEndDate" name="modal-body-form"></owl-date-time-inline>
        </div>
        <div class="input-group mb-3">


          <select (change)="updateParticipant($event)" [ngClass]="{'invalid': isParticipantInvalid}"
                  name="modal-body-form" class="custom-select" id="select-participant">
            <option value="" disabled>Choose a participant*</option>
            <option *ngFor="let participant of participants; let idx = index" value="{{idx + 1}}">{{participant}}
            </option>
          </select>
        </div>
        <button type="button" class="btn btn-primary btn-block" id="other-options-button" (click)="showOtherOptions()">
          Show other options
        </button>
        <div *ngIf="isOtherOptionsVisible" class="other-options-wrapper" id="other-options-wrapper">
          <div class="form-group">
            <input (change)="updateLocation($event)" name="modal-body-form" type="text" class="form-control"
                   id="event-location" placeholder="Enter event location">
          </div>
          <div class="form-group">
            <p class="current-event-color-text">Current event color</p>
            <div class="event-color-wrapper {{selectedColor.name}}" id="current-event-color"></div>
            <p class="current-event-color-text">Change event color</p>
            <div class="d-flex flex-wrap" id="event-color-pickers">
              <div *ngFor="let color of colors" class="event-color-wrapper {{color.name}}"
                   (click)="changeCurrentColor($event)"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="event-description">Event description</label>
            <textarea (change)="updateDescription($event)" name="modal-body-form" class="form-control"
                      id="event-description" placeholder="Enter event description"></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-end event-modal-footer">
          <button type="button" class="btn btn-secondary" id="close-event-modal-button-bottom"
                  (click)="c('Close click')">Close
          </button>
          <button type="button" class="btn btn-primary" id="save-event-button" (click)="saveEvent()">Save</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
