.add-event-button {
  position: absolute;
  right: 1%;
  background-color: #c6c8ca;
  border: none;
  color: #000;
}

#new-event-modal-title {
  margin: 0;
}

.selection-section {
  text-transform: none;
  font-size: 15px;
  margin: 10px 0 0 0;
}

#other-options-button {
  margin-bottom: 16px;
}

.event-modal-footer {
  padding: 16px 0 0 0;
}

#select-participant {
  font-size: 1rem;
}

#event-start-date, #event-end-date {
  margin-bottom: 15px;
}

.invalid {
  border-color: #f20505;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(242, 5, 5, 0.5);
}

#event-description {
  resize: none;
  height: 125px;
}

.current-event-color-text {
  margin: 13px 0 8px 0;
}

.event-color-wrapper {
  border-radius: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all linear .2s;
  margin: 5px 5px;
}

#current-event-color {
  cursor: auto;
}

#current-event-color:hover {
  transform: none;
}

.event-color-wrapper.current {
  background-color: #3a87ad;
}

.event-color-wrapper:hover {
  transform: scale(1.1);
}

.event-color-wrapper.red {
  background-color: #e74c3c !important;
}

.event-color-wrapper.blue {
  background-color: #3498db !important;
}

.event-color-wrapper.yellow {
  background-color: #f1c40e !important;
}

.event-color-wrapper.brown {
  background-color: #a5860a !important;
}

.event-color-wrapper.grey {
  background-color: #95a5a6 !important;
}

.event-color-wrapper.green {
  background-color: #27ae60 !important;
}

.event-color-wrapper.orange {
  background-color: #f39c12 !important;
}

.event-color-wrapper.purple {
  background-color: #9b59b6 !important;
}

@media screen and (max-device-width: 993px) {
  .add-event-button {
    margin-right: 10px;
  }
}

.owl-dt-inline-container {
  display: block !important;
}

.owl-dt-inline-container, .owl-dt-popup-container {
  width: auto !important;
}

.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar {
  height: auto !important;
}

.form-group span {
  padding-top: 5px !important;
}
