/*TODO only for developers*/
form button, form button:hover, input {
  color: #e9e9e9;
  text-shadow: none;
  cursor: default;
}

.find-bar {
  height: 53px;
  position: fixed;
  z-index: 5;
}

.find-bar-element {
  margin-left: 14px;
  background-color: #e9e9e9;
  outline: none;
  text-decoration: none;
  color: #767676;
  border: none;
  display: inline;
}

.find-bar__navicon {
  font-size: 30px;
  display: none;
  position: relative;
  top: 5px;
  color: #767676;
  outline: none;
}

.find-bar__navicon:hover {
  color: #767676;

}

.find-bar__navicon:visited {
  color: #767676;
}

.find-bar__string {
  width: calc(90% - 180px);
  margin: 13px 0 13px 10px;
  font-size: 17px;
  letter-spacing: 1px;
  text-overflow: ellipsis;
}

.active {
  color: #5d75ff;
}

.icon {
  font-size: 22px;
  margin-left: 10px;
  display: inline;
  cursor: pointer;
}

.icon:hover {
  transition: 0.1s;
  font-size: 23px;
  margin-right: -1px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(203, 203, 203, 1);
}

.icon:active {
  font-size: 22px;
  margin-right: 0;
  text-shadow: none;
}

@media only screen and (max-device-width: 767px) {
  .find-bar__string {
    width: calc(81% - 180px);
  }
}

@media only screen and (max-device-width: 993px) {
  :host {
    width: 100%;
  }
}

@media screen and (max-device-width: 991px) {
  .find-bar {
    box-shadow: inset 3px 2px 4px rgba(221, 221, 221, 1);
    position: sticky;
  }

  .find-bar__navicon {
    display: inline;
  }

  .find-bar__string {
    margin-right: 0;
    font-size: 10px;
    letter-spacing: normal;
  }

  .icon {
    margin-left: 5px;
  }

  .find-bar button {
    margin-left: 4px;
  }
}
