<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-2 beauty reset class-menu" [ngClass]="{'visible' : visible}"
         [@openClose]="stateExpression">
      <app-menu [toggle]="toggle"></app-menu>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10  reset all-displays scrolling">
      <app-up-bar [toggle]="toggle"></app-up-bar>
      <div class="row-data under-find-bar">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

